img{
    height: 500px;
}
.ans{
    margin-left: 50px;
}
.faq{
    color: rgb(64, 135, 76);
    font-weight: 500;
}
.ans{
    color:black;
    font-weight: 400;
}
table{
    margin-top: 100px;
    width: 700px;
    text-align: center;
    margin: auto;
    
}
table, th, td{
    border: 2px solid black;
    border-collapse: collapse;
    padding: 10px;

}
